<div class="card-list">
    <h1>Liste des villes</h1>
    <ul *ngIf="cities.length > 0">
        <li *ngFor="let city of cities">
          {{ city.name }} <!-- Adaptez selon la structure de vos données -->
          <app-delete-button 
          *ngIf="!isHomePage"
          [entityId]="city.id" 
          (deleteClicked)="onDeleteClicked(city.id)">
        </app-delete-button>
        <app-update-button 
    *ngIf="!isHomePage"
    [entityId]="city.id" 
    (updateClicked)="onUpdateClicked(city.id)">
  </app-update-button>
        </li>
      </ul>
      <app-add-button 
        *ngIf="!isHomePage" 
        [entityType]="'city'" 
        (addClicked)="openAddDialog()"
      ></app-add-button>
</div>