<div class="card-list">
    <h1>Liste des dons</h1>
    <ul *ngIf="donnations.length > 0">
        <li *ngFor="let donnation of donnations">
          {{ donnation.volunteer.firstname}} {{ donnation.volunteer.lastname}} à fait un don
          de {{ donnation.amount}} point(s) à 
          {{ donnation.association.name}} {{donnation.association.image}}
          le {{ donnation.date | date :'dd MMMM yyyy' }}
          <app-delete-button 
      *ngIf="!isHomePage && authService.isAdministrator() "
      [entityId]="donnation.id" 
      (deleteClicked)="onDeleteClicked(donnation.id)">
    </app-delete-button>
          <app-update-button 
            *ngIf="!isHomePage && authService.isAdministrator()"
            [entityId]="donnation.id" 
            (updateClicked)="onUpdateClicked(donnation.id)">
          </app-update-button>
        </li>
      </ul>
      <app-add-button 
        *ngIf="!isHomePage && authService.isVolunteer() && authService.isAdministrator() || !isHomePage && authService.isVolunteer()"
        [entityType]="'donation'" 
        (addClicked)="openAddDialog()"
      ></app-add-button>
      
</div>